/* Global styles */
body {
    font-family: 'Courier New', monospace;
}

/* General container styles */
.container-style {
    padding: 1rem;
    background-color: #EAECEE;
}

/* Title styles */
.title-section {
    text-align: center;
    color: black;
    font-weight: 600;
    /* margin: auto; */
    margin-bottom: 5px;
    flex: 1 0 auto;
    min-width: 0;
}

/* Title description styles */
.title-description {
    text-align: center;
    color: black; /* Or any color you prefer */
    font-size: 1rem; /* Or any size you prefer */
    margin-top: 0.5rem; /* Provides space between the title and description */
    margin-bottom: 1rem; /* Extra space below the description before the next section */
}

/* Dropdown styles */
.dropdown-style {
    margin-bottom: 0px;
}

/* Map display styles */
.map-display {
    height: 80vh;
    margin-bottom: 0px;
}

/* Star description styles */
.star-descriptions-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.star-description-item {
    display: flex;
    align-items: center;  /* Centers the items vertically */
    margin-bottom: 10px;
}

.star-description-text {
    margin-left: 10px;  /* Gives some space between the image and the text */
}

.star-image {
    width: 20px;
}

/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
    .map-display {
        height: 60vh;
    }
    .star-description-text {
        font-size: 16px;
    }
}

