/* -------------------------
   Global Styles
   ------------------------- */
body {
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}


/* Header section: fixed at the top */
.header {
    width: 100%; /* Take full width of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; /* Adjust height as needed */
    background-color: white; /* Set background color for visibility */
    z-index: 1000; /* Ensure it stays above other content */
    border-bottom: 1px solid #ddd; /* Optional: Add border for separation */
}

/* Body section will grow to fill available space */
.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}


/* -------------------------
   General Container Styles
   ------------------------- */
.container-style {
    padding: 1rem;
    background-color: white/*#EAECEE*/;
}

/* -------------------------
   Title and Year Text Styles
   ------------------------- */

/* Header container that holds title and buttons */
.header-container {
    display: flex;
    justify-content: space-between; /* Align title to the left, buttons to the right */
    align-items: center;
    width: 100%; /* Take full width of the header */
}

/* -------------------------
   Title and Year Text Styles
   ------------------------- */
.header-title {
    /*background-color: lightblue; !* Debug color for the title *!*/
    flex-grow: 1;
}

.title-section {
    font-family: "Kaisei Decol", serif;
    font-size: 60px;
    margin-left: 50px;
    color: black;
    font-weight: 400;
}

.year-text {
    color: #C2282D;
}

/* -------------------------
   Button Styling
   ------------------------- */

/* Container for the buttons */
.header-buttons {
    display: flex;
    gap: 20px; /* Space between buttons */
    /*background-color: lightgreen; !* Debug color for buttons container *!*/
    margin-right: 50px;
}

/* General button styling */
.header-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white; /* Set the text color */
    background-color: lightcoral; /* Debug color for visibility */
    text-decoration: none; /* Removes underline for links */
    display: inline-block;
}

/* Hover and focus states for buttons */
.header-button:hover,
.header-button:focus {
    background-color: #C2282D; /* Same color as active state */
    color: white;
}

/* City match section styling */
.city-match-content-wrapper-mainpage {
    /*background-color: #f9f9f9;  !* Light background for visibility *!*/
    width: 100%;
    margin-bottom: 10px;
}

.city-match-sidebar-mainpage {
    width: 40%;
    float: left;  /* Ensures the input section aligns left */
}

.city-match-main-content-mainpage {
    width: 60%;
    float: right;
}

/* -------------------------
   Footer Container Styles
   ------------------------- */

/* Main footer div with debug color */
.footer-main {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    /*background-color: lightcoral; !* Debug color for visibility *!*/
    background-color: white;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd; /* Optional: Add border for separation */
}

/* Info container with its own debug color */
.info-container {
    /*background-color: lightblue; !* Debug color for the content container *!*/
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center; /* Vertically center the children */
    justify-content: flex-start; /* Align content to the left */
}

/* Styling for GitHub image */
.info-image {
    margin-right: 0.5rem; /* Space between image and text */
    width: 30px;
}

/* Link styling */
.info-link {
    text-decoration: none; /* Removes underline */
    color: #007bff;
    font-size: 12px;
}

.info-link:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Footer text styling */
.info-footer {
    font-size: 9px;
    color: #555; /* Grey color for footer text */
    opacity: 0.7; /* Slight transparency */
}

/* Info text styling */
.info-text {
    font-size: 12px;
    color: black;
}

/* -------------------------
   404 Styles
   ------------------------- */

.not-found-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    text-align: center; /* Center text inside the container */
}

.custom-text {
    font-size: 24px; /* Adjust font size as needed */
}


/* -------------------------
   Dropdown Styles
   ------------------------- */
.dropdown-style {
    margin-bottom: 5px;
}

/* -------------------------
   Main Content Container for Map and Sidebar
   ------------------------- */

/* Main layout wrapping everything */

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ensure the full height of the viewport is used */
}

/* Main Content should take up the remaining height between header and footer */
.main-content {
    flex-grow: 1;  /* Fill remaining available space */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);  /* 80px header + 60px footer */
    /*overflow: hidden;  !* Prevent overflow *!*/
}

.map-sidebar-container {
    display: flex;
    flex-grow: 1;  /* Take up available space */
    height: 100%;  /* Full height of the remaining space */
    overflow: hidden;  /* Prevent overflow */
}

/* Map Section: Now on the left */
.map-section {
    float: left;
    width: 70%;  /* Map takes 70% of the width */
    height: 100%;  /* Full height */
    display: flex;
    flex-direction: column;
    padding-right: 20px;  /* Optional padding for spacing */
    box-sizing: border-box;
}

/* Ensure the map display inside takes full height */
.map-display {
    flex-grow: 1;  /* Ensures the map stretches fully inside the container */
}

/* Sidebar Section: Now on the right */
.sidebar-container {
    float: right;
    width: 30%;  /* Sidebar takes 30% of the width */
    height: 100%;  /* Full height */
    display: flex;
    flex-direction: column;
    padding-left: 20px;  /* Optional padding for spacing */
    box-sizing: border-box;
}

/* Ensure all containers stretch to fit within the layout */
.map-display,
.sidebar-container {
    height: 100%;  /* Both map and sidebar take full height */
    padding: 0;
    margin: 0;
}

.star-ratings-container-main {
    display: flex;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 60px;
}

.michelin_star {
    width: 20px;
    vertical-align: middle;
}

.bib-image {
    width: 20px;
    vertical-align: middle;
}

.star-description-title {
    font-weight: bold;
    font-size: 12px; /* Adjust as needed */
    margin-top: 2px;
    margin-bottom: 0; /* Remove bottom margin */
}

.star-description-text {
    font-size: 10px; /* Smaller text for description */
    color: #555; /* Darker grey for the description text */
    margin-top: 0; /* Space after the title */
    margin-bottom: 10px; /* Remove bottom margin */
}

.sidebar-container > * {
    padding: 0;
    margin: 0; /* Remove margins to make sure content does not "spill" out */
}

.description-container,
.instructions-container,
.dropdown-container,
.ratings-container,
.restaurant-details-container{
    padding: 0; /* Remove padding */
    background-color: white;/*#f8f9fa*/;
}



/* The OLD LAYOUT */

.ratings-container {
    margin-top: auto; /* Pushes the ratings container to the bottom */
    margin-bottom: 0; /* Ensures it lines up at the bottom */
    padding: 0;
}

.ratings-row {
    margin-bottom: 0; /* Ensures it lines up at the bottom */
}



/* -------------------------
   Description and Instructions Styles
   ------------------------- */
.description-container {
    margin-bottom: 20px;
}

.site-description {
    font-size: 25px;
    font-weight: 700;
}

.instructions-container {
    margin-bottom: 10px;
}

.instructions {
    font-size: 16px;
    font-weight: 300;
}

.dropdown-title {
    font-size: 16px;
    font-weight: 700;
}

.dropdown-style {
    margin-bottom: 15px; /* Add some space between dropdowns */
}

.dropdown-container {
    margin-bottom: 0;
}

.hidden-paris-section {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.visible-paris-section {
    height: auto; /* Allows the content to define the height */
    overflow: visible;
    transition: height 0.3s ease-in-out;
}

/* -------------------------
   Star selection Styles
   ------------------------- */
.star-select-title {
    font-size: 16px;
    font-weight: 700;
}

.star-button {
    width: 40px;
    padding: 5px;
}

.single-button {
    margin-right: 5px;
}

.star-filter-section > div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;  /* Adjust this value to manage the gap between buttons */
    margin-bottom: 20px;
}

/* Hover effect for star buttons */
.star-button:hover {
    opacity: 0.8 !important;
    cursor: pointer;
}

/* Active state for star buttons */
.star-button.active {
    opacity: 1;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

/* Inactive state, specifically less opacity when not active */
.star-button.inactive {
    opacity: 0.5; /* Lower opacity for inactive */
}

/* -------------------------
   Restaurant Details Styles
   ------------------------- */

.restaurant-details {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;  /* Default border color */
}

.placeholder-text {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #666666;  /* Default border color */
    background-color: #f8f8f8;  /* Very light grey background */
    text-align: center;
}

.restaurant-details-container {
    margin-top: 20px;
}

/* Header section containing the name and stars */
.details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurant-name {
    font-size: 18px; /* Larger text for the name */
    font-weight: 700; /* Make the name stand out */
    margin-right: 10px; /* Space between name and stars */
}

.restaurant-stars {
    display: flex; /* Align star images in a row */
    flex-wrap: nowrap; /* Prevent stars from wrapping to the next line */
}

/* Styling for the cuisine and price */
.details-cuisine,
.details-price {
    font-size: 12px; /* Slightly larger text for key details */
}

.restaurant-info {
    margin-bottom: 10px;
}

/* Address and location styling */
.address-info {
    font-size: 12px; /* Clear and legible font size */
    margin-bottom: 10px; /* Space above address and location */
}

/* Link styling for the website */
.restaurant-website {
    font-size: 16px;
    display: block; /* Ensures the link is on a new line */
    color: #0056b3; /* Traditional link color */
    text-decoration: none; /* Removes underline */
    font-weight: 500; /* Bold for emphasis */
}

.restaurant-website:hover {
    text-decoration: underline; /* Underline on hover for clarity */
}

.container-style {
    padding: 0; /* If you want to remove padding globally */
}

/* -------------------------
   -------------------------
   Analysis Page
   -------------------------
   ------------------------- */

/* Body: Dynamic height based on remaining space */
.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px); /* Subtracting footer height */
}

.analysis-container {
    flex-grow: 1;
    overflow-y: auto; /* Allow scrolling if content exceeds view */
    margin-top: 80px; /* Adjust for header */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.placeholder-text-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

/* -------------------------
   Region Section Styling
   ------------------------- */

.michelin-text-container {
    /*background-color: #f5f5f5;*/
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 0;
    width: 100%;
}

.michelin-title-paragraph {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.michelin-text-paragraph {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.michelin-tagline-paragraph {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.star-ratings-container {
    display: flex;
    width: 70%;
    margin-left: 30%;
    margin-bottom: 20px;
}

.three-child, .two-child, .one-child, .bib-child {
    width: 25%;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

/* Wrapper to couple sidebar and content for regions */
.region-content-wrapper {
    display: flex;
    height: 500px; /* Set a consistent height */
}

/* Sidebar for regions */
.region-sidebar {
    width: 30%;
    /*background-color: #f9f9f9; !* Light background for visibility *!*/
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 20px;
}

/* Main content for regions */
.region-main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: #fdf5e6; !* Light pastel yellow *!*/
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}

/* Visuals (graph and map) are in a row */
.region-visuals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; /* Stretch to fill the height */
}

/* Adjust graph and map height to match the visuals container */
.region-graph, .region-map {
    height: 100%; /* Match the height of visuals container */
}

/* Region section styles */
.region-section {
    /*background-color: #d9edf7; !* Pastel blue *!*/
    padding-bottom: 40px; /* Space between region and department sections */
}

.region-description {
    /*background-color: #f7cac9; !* Soft pastel coral *!*/
    font-size: 18px !important;
    line-height: 1.2;
    margin-bottom: 30px;
    padding-top: 20px;
}

/* Region filter container */
.region-filter-container {
    /*background-color: #fdf5e6; !* Pastel yellow *!*/
    margin-bottom: 20px;
}

/* Title for the region filter */
.region-filter-title {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Dropdown styling */
.dropdown-region-analysis {
    margin-bottom: 20px;
}

/* Star filter container */
.star-filter-section-analysis {
    /*background-color: #c8e6c9; !* Soft pastel green *!*/
}

/* -------------------------
   Region dropdowns
   ------------------------- */

/* Change the background and text color of selected dropdown values */
.dropdown-region-analysis .Select-value {
    background-color: rgba(194, 40, 45, 0.2) !important; /* Semi-transparent red background */
    color: #C2282D !important;  /* Bold red text */
    border-radius: 5px;
    border: none !important; /* Remove blue border */
}

/* Target the label inside each selected value to ensure bold red text */
.dropdown-region-analysis .Select-value-label {
    font-size: 14px;
    color: #C2282D !important; /* Bold red text */
    box-shadow: none !important; /* Remove blue shadow */
}

/* Dropdown styling for regions */
.dropdown-region-analysis .Select-control {
    font-size: 14px; /* Adjust font size of labels */
}

/* Customize the "x" button on hover */
.dropdown-region-analysis .Select-value-icon:hover {
    color: #C2282D !important; /* Red color for the "x" icon on hover */
}

/* Ensure the "x" stays black when not hovered */
.dropdown-region-analysis .Select-value-icon {
    color: black !important; /* Black color for the "x" by default */
}

/* Remove blue outline when the "x" button or value is focused */
.dropdown-region-analysis .Select-value:focus,
.dropdown-region-analysis .Select-value-icon:focus {
    outline: none !important; /* Remove focus outline */
}

/* -------------------------
   Location Match Section Styling
   ------------------------- */

.city-match-content-wrapper {
    display: flex;
    width: 100%;  /* Ensure it spans the full width of its container */
    border-top: 1px solid #ccc;
    height: auto;  /* Stretch the container based on content */
    min-height: 200px;  /* Minimum height for a better UI */
}

/* Sidebar for regions */
.city-match-sidebar {
    width: 30%;
    /*background-color: #f9f9f9; !* Light background for visibility *!*/
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    overflow-y: auto;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 20px;
}

/* Main content for regions */
.city-match-main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: #fdf5e6; !* Light pastel yellow *!*/
    padding: 20px 40px;
    box-sizing: border-box;
    min-height: 200px;  /* Minimum height for a better UI */
}

.city-match-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.city-input-container {
    margin-bottom: 40px;  /* Add space between input and button */
}

.match-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.match-details {
    font-size: 16px;
}

.no-match-message {
    color: red;
    font-weight: bold;
}

.default-message {
    font-size: 18px;
    font-style: italic;
    color: gray;
}


/* -------------------------
   Department Section Styling
   ------------------------- */

/* Wrapper to couple sidebar and content for departments */
.department-content-wrapper {
    border-top: 1px solid #ccc;
    display: flex;
    height: 500px; /* Set the same consistent height */
}

/* Sidebar for departments */
.department-sidebar {
    width: 30%;
    /*background-color: #e2eafc; !* Soft pastel blue *!*/
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 60px;
}

/* Future department-specific content here */
.department-main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: #cce5ff; !* Muted pastel blue *!*/
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}

/* Main content styling */
.analysis-main-content {
    width: 70%;
}

/* Department section styles */
.department-section {
    /*background-color: #d9f7be; !* Muted pastel green *!*/
    padding-bottom: 40px;
}

.department-description {
    /*background-color: #ffe4e1; !* Light pastel coral *!*/
    font-size: 18px !important;
    line-height: 1.2;
    margin-bottom: 30px;
    padding-top: 20px;
}

/* Region filter container */
.department-filter-container {
    /*background-color: #fdf5e6; !* Pastel yellow *!*/
    margin-bottom: 20px;
}

/* Dropdown styling */
.dropdown-department-analysis {
    margin-bottom: 20px;
}

.department-main-content {
    padding-bottom: 50px;
}

/* Visuals (graph and map) are in a row */
.department-visuals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; /* Stretch to fill the height */
}

/* Adjust graph and map height to match the visuals container */
.department-graph {
    height: 100%; /* Match the height of visuals container */
    width: 60%;
}

.department-map {
    height: 100%;
    width: 40%;
}

/* Star filter container */
.star-filter-section-department {
    /*background-color: #c8e6c9; !* Soft pastel green *!*/
}


/* -------------------------
   Arrondissement Section Styling
   ------------------------- */

/* Wrapper to couple sidebar and content for arrondissements */

.hidden-section {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.visible-section {
    border-top: 1px solid #ccc;
    display: flex;
    height: 500px; /* Set the same consistent height */
}

/* Sidebar for arrondissements */
.arrondissement-sidebar {
    width: 30%;
    /*background-color: #e2eafc; !* Soft pastel blue *!*/
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 60px;
}

/* Future arrondissement-specific content here */
.arrondissement-main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: #cce5ff; !* Muted pastel blue *!*/
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}

/* Main content styling */
.analysis-main-content {
    width: 70%;
}

/* Arrondissement section styles */
.arrondissement-section {
    /*background-color: #d9f7be; !* Muted pastel green *!*/
    padding-bottom: 40px;
}

.arrondissement-description {
    /*background-color: #ffe4e1; !* Light pastel coral *!*/
    font-size: 18px !important;
    line-height: 1.2;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* Region filter container */
.arrondissement-filter-container {
    /*background-color: #fdf5e6; !* Pastel yellow *!*/
    margin-bottom: 20px;
}

/* Dropdown styling */
.dropdown-arrondissement-analysis {
    margin-bottom: 20px;
}

.arrondissement-main-content {
    padding-bottom: 50px;
}

/* Visuals (graph and map) are in a row */
.arrondissement-visuals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; /* Stretch to fill the height */
}

/* Adjust graph and map height to match the visuals container */
.arrondissement-graph {
    height: 100%; /* Match the height of visuals container */
    width: 60%;
}

.arrondissement-map {
    height: 100%;
    width: 40%;
}

/* Star filter container */
.star-filter-section-arrondissement {
    /*background-color: #c8e6c9; !* Soft pastel green *!*/
}


/* -------------------------
   Analysis Page Star Button Styles
   ------------------------- */

.star-button-analysis, .star-button-department, .star-button-arrondissement,
.star-button-cuisine, .star-button-demographics, .star-button-wine {
    width: 40px;
    padding: 5px;
}

.star-filter-buttons-analysis, .star-filter-buttons-department, .star-filter-buttons-arrondissement,
.star-filter-buttons-cuisine, .star-filter-buttons-demographics, .star-filter-buttons-wine {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.star-button-analysis:hover, .star-button-department:hover, .star-button-arrondissement:hover,
.star-button-cuisine:hover, .star-button-demographics:hover, .star-button-wine:hover  {
    opacity: 0.8 !important;
    cursor: pointer;
}

.star-filter-section-analysis .star-button-analysis.active,
.star-filter-section-department .star-button-department.active,
.star-filter-section-arrondissement .star-button-arrondissement.active,
.star-filter-section-cuisine .star-button-cuisine.active,
.star-filter-section-demographics .star-button-demographics.active,
.star-filter-section-wine .star-button-wine.active {
    opacity: 1;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.star-filter-section-analysis .star-button-analysis.inactive,
.star-filter-section-department .star-button-department.inactive,
.star-filter-section-arrondissement .star-button-arrondissement.inactive,
.star-filter-section-cuisine .star-button-cuisine.inactive,
.star-filter-section-demographics .star-button-demographics.inactive,
.star-filter-section-wine .star-button-wine.inactive{
    opacity: 0.5;
}

/* -------------------------
   Top Ranking Section Styling
   ------------------------- */

/* Wrapper to couple sidebar and content for top rankings */
.ranking-content-wrapper {
    display: flex;
    height: auto; /* Allow container to grow dynamically */
    /*background-color: #d9edf7; !* Pastel blue for the wrapper *!*/
    border-top: 1px solid #ccc;
    /*padding-bottom: 40px; !* Space between content *!*/
}

/* Sidebar for top ranking section */
.ranking-sidebar {
    width: 30%;
    /*background-color: #f9f9f9; !* Light background for visibility *!*/
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto; /* Enable scrolling for large content */
    padding-bottom: 60px;
    padding-right: 20px;
}

/* Main content for top ranking section */
.ranking-main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensure content starts from top */
    /*background-color: #fdf5e6; !* Light pastel yellow for content area *!*/
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable scrolling for larger output content */
}

/* Debug color for description section */
.ranking-description {
    /*background-color: #f7cac9; !* Soft pastel coral *!*/
    font-size: 18px !important;
    line-height: 1.2;
    margin-bottom: 30px;
    padding-top: 20px;
}

/* Granularity filter container */
.granularity-filter-container {
    /*background-color: #fdf5e6; !* Pastel yellow *!*/
    margin-bottom: 20px;
}

/* Dropdown styling for granularity */
.dropdown-granularity {
    margin-bottom: 20px;
}

/* Top ranking filter container */
.top-ranking-filter-container {
    /*background-color: #fdf5e6; !* Pastel yellow *!*/
    margin-bottom: 20px;
}

/* Dropdown styling for top ranking selection */
.dropdown-ranking {
    margin-bottom: 20px;
}

.rating-filter-container {
    /*background-color: #c8e6c9; !* Soft pastel green *!*/
    margin-bottom: 20px;
}

/* Button container for showing restaurant details */
.toggle-details-container {
    display: flex;
    justify-content: flex-start;
}

/* Button styling for 'Show Restaurant Details' */
.button-show-details {
    padding: 10px 20px;
    background-color: #C2282D;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

/* Hover and active states for the button */
.button-show-details:hover,
.button-show-details:focus {
    background-color: #A01F25;
    color: white;
}

/* -------------------------
   Demographics Section Styling
   ------------------------- */

.demographics-text-container {
    /*background-color: #f5f5f5; !* Light grey for neutrality *!*/
    border-top: 1px solid #007bff;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}

.demographics-title-paragraph {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.demographics-text-paragraph {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.demographics-tagline-paragraph {
    font-size: 16px;
    line-height: 1.6;
}

/* Wrapper to couple the main content and filter for demographics */
.demographics-container {
    /*background-color: #e2f0f9; !* Light pastel blue *!*/
    width: 100%;
    gap: 40px;
}

/* Placeholder text container */
.placeholder-text-container {
    background-color: white; /* Keep the background white */
    width: 100%;
    margin-bottom: 20px;
}

.demographics-filter-container {
    /*background-color: #d9edf7;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    margin-bottom: 20px;
}

/* Dropdown containers for demographics section */
.demographics-dropdown-container {
    /*background-color: #fdf5e6; !* Light grey background *!*/
    width: 25%;
}

.filter-container {
    /*background-color: #fdf5e6; !* Light grey background *!*/
    width: 50%;
}

.demographics-restaurants-controls {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 !important;
}

/* Demographics content wrapper */
.demographics-content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 750px; /* Fixed height for map + bar chart section */
    /*background-color: #d9edf7; !* Light pastel blue for the wrapper *!*/
}

/* Demographics map styling */
.demographics-map {
    /*background-color: #cce5ff; !* Light pastel blue *!*/
    height: auto;
    width: 50%;
    display: inline-block;
}

.demographics-chart-mean {
    height: auto;
    width: 50%;
    display: inline-block;
}

/* Demographics bar chart styling */
.demographics-bar-chart {
    /*background-color: #fdf5e6; !* Light pastel yellow *!*/
    height: auto;
    width: 100%;
    display: inline-block;
    margin: 0;  /* Ensure no margin */
    padding: 0; /* Ensure no padding */
}

.weighted-mean-explanation {
    text-align: center;
    padding: 10px;
    /*border: 1px solid #007bff;*/
    height: auto;  /* Remove the fixed height to allow dynamic adjustment */
    margin-top: 0;  /* Ensure no extra margin */
    margin-bottom: 0;
}

.weighted-mean-explanation .dash-markdown {
    margin: 0;  /* Remove any margin from the Markdown element */
    padding: 0;  /* Remove any padding from the Markdown element */
}

/* Custom styles for socio-economic metric dropdown with blue color scheme */
.dropdown-category-demographics .Select-value {
    background-color: rgba(0, 123, 255, 0.2) !important; /* Light blue background */
    color: #007bff !important; /* Blue text */
    border-radius: 5px;
    border: none !important; /* Remove border */
}

.dropdown-category-demographics .Select-control {
    font-size: 14px; /* Adjust font size */
}

.dropdown-category-demographics .Select-value-label {
    font-size: 14px;
    color: #007bff !important; /* Blue text */
    box-shadow: none !important; /* Remove blue shadow */
}

.dropdown-category-demographics .Select-value-icon:hover {
    color: #007bff !important; /* Blue color for the "x" icon on hover */
}

.dropdown-category-demographics .Select-value-icon {
    color: black !important; /* Black "x" by default */
}

.dropdown-category-demographics .Select-value:focus,
.dropdown-category-demographics .Select-value-icon:focus {
    outline: none !important; /* Remove focus outline */
}

/* Hover styling for dropdown */
.dropdown-category-demographics .Select-option:hover {
    background-color: rgba(0, 123, 255, 0.1) !important; /* Light blue hover effect */
    color: #0056b3 !important; /* Darker blue on hover */
}

/* Selected option styling */
.dropdown-category-demographics .Select-option.is-selected {
    background-color: rgba(0, 123, 255, 0.2) !important;
    color: #0056b3 !important; /* Darker blue for selected options */
}

/* -------------------------
   Wine Section Styling
   ------------------------- */

.wine-text-container {
    /*background-color: #f5f5f5;*/
    border-top: 1px solid #28a745;
    border-top: 1px solid #28a745;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
}

.wine-title-paragraph {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.wine-text-paragraph {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.wine-tagline-paragraph {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    line-height: 1.6;
}


.wine-restaurants-wrapper {
    /*background-color: #fdf5e6; !* Light grey background *!*/
}

.wine-restaurants-controls {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 !important;
    margin-bottom: 20px;
}

.wine-map-outlines {
    /*background-color: #d9edf7; !* Light pastel blue for the wrapper *!*/
    margin-bottom: 20px;
}

/* Wine content wrapper */
.wine-content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    /*background-color: #d9edf7; !* Light pastel blue for the wrapper *!*/
}

/* Wine LLM Output Wrapper */
.wine-llm-output {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Ensure content starts from the top */
    height: 100%;
    box-sizing: border-box;
}

.wine-title {
    font-size: 18px;
}

.region-name-placeholder {
    font-size: 18px;
}

.LLM-output {
    flex-grow: 1;
    margin-top: 10px;
    font-size: 14px;
    overflow-y: auto;
}

/* Disclaimer container layout */
#disclaimer-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-top: 1px solid #ccc;
    background-color: #f7f7f7;
    width: 100%;
    text-align: left;
    bottom: 0;
    box-sizing: border-box;
}

/* Align the image and text side by side */
.disclaimer-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%; /* Prevent overflow of the parent */
    overflow: hidden; /* Hide any potential overflow */
}

/* Styling for OpenAI logo */
.openai-logo {
    width: 80px;  /* Adjust size of the logo */
    margin-right: 10px;  /* Add space between the logo and text */
}

/* Styling for disclaimer text */
.disclaimer-text-wrapper {
    text-align: left;  /* Align text to the left */
    flex-grow: 1;  /* Allow the text to take remaining space */
}

.disclaimer-text {
    font-size: 10px;
    color: #666;  /* Grey text color for the disclaimer */
    margin-top: 20px !important;
}


/* -------------------------
   Responsive Styles
   ------------------------- */

/* Mobile Devices */
@media (max-width: 768px) {

    body {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    }

    .sidebar-container,
    .map-section {
        width: 100%;
        float: none;
        order: 3;  /* Adjust order if necessary based on other content */
        height: auto; /* Allow container to fit content on mobile */
        flex-direction: column; /* Stack children vertically */
        font-size: 10px; !important;
    }

    .title-section,
    .description-container,
    .instructions-container,
    .dropdown-container,
    .restaurant-details-container,
    .ratings-container {
        order: 1;  /* Top section appears above everything else */
    }

    .map-section {
        order: 2;
    }

    .map-display {
        height: 50vh;
    }

    .title-section {
        font-size: 18px; /* Reduce title size for smaller screens */
        margin-left: 0;
        margin-bottom: 10px;
    }

    .description-container {
        margin-bottom: 10px;
    }

    .instructions-container {
        margin-bottom: 10px;
    }

    .dropdown-container {
        margin-bottom: 10px; /* Consistent spacing between dropdowns and other content */
    }

    .michelin_star .bib-image {
        width: 12px;
    }

    .star-description-title {
        font-weight: bold;
        font-size: 8px; /* Adjust as needed */
        margin-top: 2px;
        margin-bottom: 0; /* Remove bottom margin */
}

    .star-description-text {
        font-size: 6px; /* Smaller text for description */
        margin-bottom: 10px;
}

    .site-description {
        font-size: 10px; /* Smaller text for descriptions and instructions */
    }

/* -------------------------
   THESE TWO BELOW CAUSE MEGA RENDERING BUGS!
   ------------------------- */
    .dropdown-container .dropdown-title {
        font-size: 10px; /* This sets the size for the titles of the dropdowns */
        margin-bottom: 5px; /* This gives some space below the titles */
    }

    .dropdown-container .Select-control,
    .dropdown-container .Select-value,
    .dropdown-container .Select-placeholder {
        font-size: 10px /* Forces the font size if being overridden */
    }

}


